@charset "utf-8";
/* CSS Document */
body {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;	
	overflow-x: hidden;
}
a:hover {
	text-decoration:none;	
}
.center {
	text-align:center;	
}
ul,ol {
	margin-bottom:0;	
	padding-left:0px;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Tahoma, Geneva, sans-serif;	
	text-transform:uppercase;
}
h2 {
	font-size:1.71em;
}
h3 {
	font-size:1.42em;	
}
/*remove dotted border*/
a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none !important;
}

input::-moz-focus-inner {
    border: 0;
}
/*Header*/
header {
	background:#424444;
	padding:5px 0;
}
header a {
	margin-right:10px;
	color: #fff !important;
}
header a:hover {
	color: #1eacc7 !important;	
}
header a i{
	font-size:1.57em !important;
}
header a span {
	margin-left:10px;
	margin-bottom:3px;	
}
/*Navigation*/
.navbar {
	border-radius:0px ;	
	font-family:Tahoma, Geneva, sans-serif !important;
	font-size:1.14em;
	text-transform:uppercase;
	margin-bottom:0;
	color:#424444;
}
.navbar-inverse {
	background-color: #fff;
	border:none;	
}
.navbar-brand {
	height:auto;	
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background:none;
	border-bottom: 2px solid #1eacc7;
	color: #1eacc7;	
}
#index .indexlink,#about .aboutlink,#contact .contactlink,#reservation .reservationlink {
	background:none;
	border-bottom: 2px solid #1eacc7;
	color: #1eacc7;	
}
#airport .airportlink, #wedding .weddinglink, #prom .promlink, #quinceanera .quinceaneralink, #pointtopoint .pointtopointlink {
	color: #1eacc7;	
}
.navbar-nav {
	padding-top:5px;	
}
#navbar a {
	margin-right:20px;
}/*
#navbar a:hover {
	color: #1eacc7;
	border-bottom: 2px solid #1eacc7;	
}*/
.cmn-t-underline {
  position: relative;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #1eacc7;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: #1eacc7 !important;
}
.cmn-t-underline:hover:after {
  width: 100%;
}
.navbar-toggle {
	background:none;
	border-radius:0;
	border:none;	
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background:none;	
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #1eacc7;	
}
.navtab {
	background: #424444;	
}
.navtab a {
	display:inline-block;
	padding: 10px 0;
	color:#fff;
}
.navtab .navbar-nav > li{
	margin:0 11px;
}
.navtab .navbar-nav {
	padding-top:0;	
}
.navtab .navbar-nav > li > a:focus, .navtab .navbar-nav > li > a:hover{
	background:none;	
	color:#1eacc7;
}
.navtab .navbar-nav {
	display:table;
	margin:auto;
	float:none;
	table-layout:fixed;
}	
.navtab .navbar-brand {
	margin-top:5px;	
	font-size:1.14em;
}
/*banner slider*/
.bannerslider {
	width:100%;	
	margin-bottom:0;
}
.bannerslider img {
	width:100%;	
	height:100%;
}
/*contenttop*/
.contenttop {
	color:#fff;
	background-image:url(../images/background1.jpg);
	background-repeat:repeat-x;
	background-position:center;
	padding-top:50px;
	padding-bottom:344px;	
}
.intro a{
	color:#fff;
	text-decoration:none;	
}
.contenttop p {
	font-size:1.14em;	
	line-height:30px;
}
.contenttop h1{
	text-transform:uppercase;
}
.dividerbox {	
	margin:20px 0;
}
.dividerline {
	display:inline-block;
	width:80px;
	vertical-align:middle;
	border-bottom:1px solid #fff;
}
.dividerbox i {
	margin:0 30px;	
}
/*google app*/
.googleapp {
	width:100%;
	padding:80px 0;
	/* Location of the image */
  background-image:url(../images/google.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	
}
.googleapp h1{
	color: #424444;
	font-size:3.42em;
	text-transform:uppercase;
	margin-top:0;
}
.googleapp p{
	font-size:1.28em;
	color:#fff;
	padding:30px 0;
}
/*content*/
.content {
	color: #424444;		
}
.content h2{
	text-transform:uppercase;	
	margin-top:2.14em;
}
.content h3{
	text-transform:uppercase;	
	font-size:1.28em;
}
.content p {
	line-height:2.14em;	
}
.content ul {
	list-style:none;
	list-style-image: url(../images/bullet.png);
	margin-bottom:2.14em;	
}
.content ul li{
	line-height:2.14em;;
}
/*bookonline*/
.bookonline {
	width:100%;
	padding:120px 0;
	/* Location of the image */
  background-image:url(../images/bookonline.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	color:#fff;
	
}
.bookonline h1{
	text-transform:uppercase;
	font-size:2.57em;
}
.bookonline p {
	font-size:1.14em;
	line-height:1.74em;		
	margin:1.42em 0;
}
.bookonline a {
	display:block;
	color: #fff;
	text-transform:uppercase;
	background: #1eacc7;	
	padding:18px 0;
	margin-top:1.78em;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1.14em;
	text-decoration:none;
}
.bookonline a h2{
	margin:0;
	padding:0;	
}
/*bookonline form-lightbox-popover*/
.modal-content {
	color:#000;	
}
.popup .alert {
	margin-bottom:0;	
}

/*footer*/
footer {
	background: #252525;	
	color: #fff;
	padding-bottom:20px;
}
footer h3{
	font-size:1.28em;
	text-transform:uppercase;
	
}
footer ul {
	list-style:none;	
}
footer ul li {
	line-height:30px;	
}
footer ul li a {
	color:#fff;	
	font-size:1.14em;
}
.subfooter {
	background: #0f0f0f;
}
.subfooter p{
	margin:0;
	margin:8px 0;	
}
.subfooter a img{
	padding:8px 0;	
}
.testmonial h2,.fleet h2{
	display:inline-block;
	padding:0 20px;	
}
.testmonial .slick-prev,.fleet .slick-prev
{
    left: 359px;
	top:-29px;
}
.testmonial .slick-next, .fleet .slick-next
{
    right: 359px;
	top:-29px;
}
.testmonial .dividerline, .fleet .dividerline {
	border-bottom:1px solid #1eacc7;	
}
.testimonialslider div{
	margin:10px 0;	
}
.fleetslider div {
	margin:10px 0px;	
}


/*about*/
.aboutbanner {
	background-image:url(../images/aboutbanner.jpg);
	background-position:center;
	background-repeat:repeat-x;
	background-size:cover;	
	padding-top:50px;
	padding-bottom:50px;
	color:#fff;
}
.aboutbanner p {
	font-size: 1.14em;	
}
.contentpage {
	padding:30px 0;	
}
.aboutCar {
	padding-top:0px;	
}
.contentpage ul{
	list-style:none;	
}
.aboutlist{
	padding:20px 0;	
}
.aboutlist li {
	border-bottom: 1px solid #1eacc7;
	padding-bottom:20px;	
}
.aboutlist li i {
	display:inline-block;
	font-size:50px;	
	color: #1eacc7;
}
.aboutlist li span {
	display:inline-block;
	margin-left:20px;	
}
.aboutlist li h4{
	color: #1eacc7;
	margin-top:15px;
}
/*contact*/
.map iframe {
	width:100%;	
}
.contentpage h2,.contentpage h4 {
	color:#1eacc7;	
	margin-top:0;
}
.contentpage p{
	color:#666;	
	line-height: 2.5em;
}
.captcha { background-image: url(../captcha/background/noise-2.png); width: 150px; height: 35px; background-color: #1eacc7; }
#captcha_refresh i {
	font-size:24px;	
	padding-left:10px;
}

.contentpage .form-control {
	background-color:#CCC ;
	padding:16px 10px;	
	border-color:#b6b6b6;
}
.contentpage input[type="text"], .contentpage input[type="email"]{
	height:80px;
}
.contentpage form .form-group {
	margin-top:30px;	
}
.contentpage form label {
	color: #666 ;
	margin-bottom:15px;	
}
.contactinfo {
	margin-top:40px;	
}
.contactinfo ul {
	margin:20px 0;	
}
.contactinfo li {
	margin-bottom:20px;	
}
.contactinfo li a{
	color:#666;	
}
.socialmediacontact {
	margin-top:30px;	
}
.socialmediacontact a {
	margin-right:20px;	
	color:#666;	
}
.contactinfo li a:hover, .socialmediacontact a:hover {
	color:#1eacc7;	
}
.btncolor,.btncolor:hover {
	background-color:#1eacc7;
	border:none;	
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
}
.pointlist{
	margin-top:20px; 
}
.pointlist li {
	margin-bottom:10px;	
	line-height:35px;
}
.pointlist li i{
	color: #1eacc7;	
}

/*bottom button on mobile*/
.fixedbtn {
	background-color:#1eacc7;
	padding:10px 0;
}
.fixedbtn a {
	color:#fff;	
}

.fixedbtn a span {
	display:block;
}
.fixedbtn a:hover {
	color:#424444;	
}
.fixedbtn .row div {
	border-right:1px solid #424444;
}
.fixedbtn .row div:last-child {
	border:none;	
}
/*Reservaion form*/
#reservation .contentpage input[type="text"],#reservation .contentpage input[type="email"],#reservation .contentpage input[type="number"],#reservation select{
	height:50px;
}
.highlight {
	background-color:#1eacc7;
	padding:15px;
	color: #fff;	
}
.msg {
	padding:100px 0;	
}


/*Media Queries*/
@media (max-width: 768px) {
	
	.contenttop {
		padding-bottom:141px !important;
		padding-top:0;	
		background-color: #1eacc7;
	}
	.testmonial .slick-prev,.testmonial .slick-next,.fleet .slick-prev,.fleet .slick-next,.dividerline{
		display:none !important;	
	}
	.aboutlist {
		text-align:center;	
	}
	.aboutlist li i {display:none;}
	.aboutlist{ 
		padding:0;
	}
	.linehide {border:none !important;}
	.container {
		padding:0px 50px;	
	}
	.contentpage h4 {
		margin-top:20px;	
	}
	.subfooter {	
	margin-bottom:64px;
	}
	.speedline {
		float:none !important;
	}
}
@media (max-width: 991px) {
	body {
		font-size:11px;	
	}
	header a span {
		display:none;	
	}	
	
	.navbar-brand img{
		width:158px;
		height:33px;
	}
	.navbar-nav {
		padding:0;	
	}
	.contenttop {
		padding-bottom:310px;	
	}
	.testmonial .slick-prev,.fleet .slick-prev
{
    left: 175px;
}
.testmonial .slick-next,.fleet .slick-next
{
    right: 175px;
}	
.aboutCar {
	padding-top:80px;	
}
.quotemob {
	display:inline-block;
	border-right:2px solid #fff;
	padding-right:10px !important;
	margin-right:10px;	
}
.navtab .navbar-brand {
	font-size:11px !important;	
}


}
@media (min-width: 991px) {
	.slider-inner ul {
		padding-top:23% !important;	
	}
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.aboutlist li i {
		display:inline-block;
		font-size:31px;	
		color: #1eacc7;
	}	
	.navtab a {
	margin-right:-10px !important;	
}
}
@media (min-width: 991px) and (max-width: 1199px) {
	.testmonial .slick-prev,.fleet .slick-prev
{
    left: 200px;
}
.testmonial .slick-next,.fleet .slick-next
{
    right: 200px;
}	
.aboutCar {
	padding-top:80px;	
}
.navtab a {
	margin-right:8px !important;	
}
}
